{
  "parser": "babel-eslint",
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  },
  // To use Google style in conjunction with ESLint's recommended rule set, extend them both, making sure to list google last
  "extends": [
    "eslint:recommended",
    "google"
  ],
  "rules": {
    "max-len": [
      "error",
      {
        "code": 120,
        "ignoreComments": true,
        "ignoreUrls": true,
        "ignoreStrings": true
      }
    ],
    "object-curly-spacing": [
      "error",
      "always"
    ]
  }
}