// Dimensions
$header-height: 34px;
$toolbar-height: 40px;
$formula-height: 24px;
$info-cell-width: 40px;
$cell-width: 120px;
$row-height: 24px;
$db-header-height: 64px;

// Colors
$green: #188038;
$gray-1: #e5e5e5;
$gray-2: #c2c2c2;
$blue: #1a73e8;
$black: black;
$white: white;
$border-color: #c0c0c0;