.drop-down {
  $height: 36px;

  position: relative;
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  background-color: $white;
  border: 1px solid #000;
  box-sizing: border-box;

  &__arrow {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }

  &__menu {
    position: absolute;
    z-index: 1;
    top: calc(#{$height} - 5px);
    bottom: 0;
    left: 0;
    height: 60vh;
    padding: 5px 10px;
    background-color: $white;
    border: 1px solid #000;
    overflow-y: scroll;
  }

  &__option {
    &--active {
      background-color: rgba(#0000fad8, 0.3);
    }
  }

  &__hint {
    position: absolute;
    z-index: 0;
    left: 12px;
    top: 8px;
    display: flex;
    color: $gray-2;

    &-invisible {
      visibility: hidden;
    }

    &-visible {
      display: none;
    }

    &-visible--active {
      display: inline;
    }
  }

  input {
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
