@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~normalize.css";
@import "~reset-css";

// Utils
@import "variables";
@import "mixins";

// Blocks
@import "header";
@import "toolbar";
@import "formula";
@import "table";
@import "dashboard";
@import "loader";
@import "dialog";
@import "drop-down";
@import "input";

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
}
