.excel__table {
  position: absolute;
  top: $header-height + $toolbar-height + $formula-height;
  right: 0;
  left: 0;
  overflow-x: auto;
  padding-bottom: 2px;

  .row {
    display: flex;
    height: $row-height;
    flex-direction: row;
    min-height: 20px;
  }

  .row-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid $border-color;
    min-width: $info-cell-width;
    border-top: none;
  }

  .row-data {
    display: flex;
  }

  .column {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: $cell-width;
    height: 100%;
    background: #f8f9fa;
    border: 1px solid $border-color;
    min-width: 40px;
    border-top: 0;
    border-left: 0;
  }

  .cell {
    width: $cell-width;
    height: 100%;
    padding: 5px;
    color: $black;
    border: 1px solid #e2e3e3;
    min-width: 40px;
    border-top: 0;
    border-left: 0;
    white-space: nowrap;
    outline: none;


    &.selected {
      z-index: 2;
      border: none;
      outline: 2px solid $primary;
    }
  }

  .resizer {
    position: absolute;
    z-index: 1;
    right: 0;
    bottom: 0;
    background-color: $primary;
    opacity: 0;
    
    // TODO: fix horizontal click area
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 50%;
      bottom: 0;
      left: 0;
      padding: 0 4px;
      box-sizing: content-box;
      transform: translateX(-50%);
    }
    
    &:hover {
      opacity: 1;
    }
    
    &__slider {
      position: absolute;
      z-index: -1;
      background-color: $primary;
    }
    
    &--column {
      top: 0;
      width: 4px;
      cursor: col-resize;

      .resizer__slider {
        top: 0;
        bottom: 0;
        left: 50%;
        width: 1px;
        transform: translateX(-50%);
      }
    }
    
    &--row {
      left: 0;
      height: 4px;
      cursor: row-resize;

      .resizer__slider {
        top: 50%;
        left: 0;
        height: 1px;
        transform: translateY(-50%);
      }
    }
  }
}
